<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/tabler.min.css">
    <title>Bitrate Graph Generator</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bitrate Graph Generator</h1>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="video_url">Video URL</label>
                <input type="text" class="form-control" name="video_url" id="video_url" placeholder="Enter video URL">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row">
            <div class="col-md-6">
              {% if video_info %}
                <h2>Video Information</h2>
                <ul>
                  <li><strong>Codec:</strong> {{ video_info['codec'] }}</li>
                  <li><strong>Resolution:</strong> {{ video_info['resolution'] }}</li>
                  <li><strong>Frame Rate:</strong> {{ video_info['frame_rate'] }}</li>
                  <li><strong>Duration:</strong> {{ video_info['duration'] }}</li>
                </ul>
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if audio_info %}
                <h2>Audio Information</h2>
                <ul>
                  <li><strong>Codec:</strong> {{ audio_info['codec'] }}</li>
                  <li><strong>Sample Rate:</strong> {{ audio_info['sample_rate'] }}</li>
                  <li><strong>Channels:</strong> {{ audio_info['channels'] }}</li>
                  <li><strong>Duration:</strong> {{ audio_info['duration'] }}</li>
                </ul>
              {% endif %}
            </div>
          </div>
        {% if video_bitrate_graph_filename %}
        <div class="mt-5">
            <h2>Video Bitrate Graph</h2>
            <img src="{{ video_bitrate_graph_filename }}" alt="Video Bitrate Graph">
        </div>
        {% endif %}
        {% if audio_bitrate_graph_filename %}
        <div class="mt-5">
            <h2>Audio Bitrate Graph</h2>
            <img src="{{ audio_bitrate_graph_filename }}" alt="Audio Bitrate Graph">
        </div>
        {% endif %}
    </div>
    <script src="/static/js/tabler.min.js"></script>
</body>
</html>